<!DOCTYPE html>

<!-- Bug Report Modal -->
<div class="modal fade" id="bug-report" tabindex="-1" role="dialog" aria-labelledby="bug-report-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">기능 제안 & 버그 리포트</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr>
                <a href="https://blog.naver.com/alice_k106/221540349140">제 블로그</a>로 직접 의견을 보내셔도 됩니다.
                <br><br>
                블로그는 보통 5분 내로 답변을 드립니다.
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" id="message-text"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="send_message()">의견 보내기!</button>
            </div>
        </div>
    </div>
</div>
<!-- Bug Report Modal End -->

<!-- Update History Modal -->
<div class="modal fade" id="update-history" tabindex="-1" role="dialog" aria-labelledby="update-history-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">업데이트 내역</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" role="alert">
                    {% for record in updates %}
                        <h5 class="alert-heading">
                            {{ record['date'] }}
                            {{ record['version'] }}
                        </h5>
                        <p><span>{{ record['content'] }}</span></p>

                        {% if loop.index != (updates|length) %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <hr>
                가맹점 데이터 출처 :
                <a href="http://www.suwon.go.kr/web/board/BD_board.view.do?bbsCd=1042&seq=20190328093359472">
                    수원
                </a>
                <a href="https://blog.naver.com/PostView.nhn?blogId=govlrodtnr&logNo=221509466754&categoryNo=0&parentCategoryNo=0&viewDate=&currentPage=1&postListTopCurrentPage=1&from=postView">
                    용인
                </a>
                <a href="http://www.goyang.go.kr/www/user/bbs/BD_selectBbs.do?q_bbsCode=1030&q_bbscttSn=20190509201744955&q_currPage=1&q_pClCode=">
                    고양
                </a>
                <a href="https://www.bucheon.go.kr/site/program/board/basicboard/view?menuid=148006004013002&pagesize=10&boardtypeid=27296&encid=azNQVX8c1T7sCZF9cXznGg==">
                    부천
                </a>
                <a href="https://www.gm.go.kr/pt/user/bbs/BD_selectBbs.do?q_bbsCode=2435&q_bbscttSn=20190411093853764&q_clCode=&q_searchKeyTy=&q_searchVal=&q_rowPerPage=&q_currPage=1&q_sortName=&q_sortOrder=&">
                    광명
                </a>
                <a href="https://www.iansan.net/department/regionalEcoDivision/Reference.jsp?menuId=01070071&id=454&mode=S&currentPage=1&articleId=1167097">
                    안산
                </a>
                <hr>
                이 서비스는 공익을 위해 만들어졌으며, 일체의 수익을 창출하지 않습니다. 서버 운영 비용은 모두 학생 개인 돈으로 충당하고 있습니다.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- Update History Modal End -->