<!DOCTYPE html>

<!-- Bug Report Modal -->
<div class="modal fade" id="bug-report" tabindex="-1" role="dialog" aria-labelledby="bug-report-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style='font-size:80%'>
                <h4 class="modal-title" id="exampleModalLabel">기능 제안 & 버그 리포트</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <hr>
                <a href="https://blog.naver.com/alice_k106/221540349140">1. 제 블로그</a>로 직접 의견을 보내셔도 됩니다. 블로그는 보통 5분 내로
                답변을 드립니다. 저는 공무원이 아니며, 24살 취준생 청년일 뿐입니다.
                <br><br>
                2. 자주하는 질문 :
                <br>
                <strong>-> 검색 목록에 있는데 가게 주인은 모른다네요? </strong>: 일반적으로 연매출 10억 이하의 가게는 자동으로 지역화폐 가맹점으로 가입되기에,
                점주가 모르더라도 결제가 되는 경우가 꽤 있습니다. 또한, 본 검색 데이터는 제가 만든 것이 아니며, 각 시청 홈페이지에서 배포하는 데이터를 사용합니다.
                정확하지 않은 데이터는 나중에 시청의 공무원들이 수정해주기를 바랄 뿐입니다..
                <br><br>
                <strong>-> 제 지역도 좀 추가해주세요 </strong>: 남양주, 파주, 안성 등은 시청에서 가맹점 데이터를 배포하고 있지 않아 서비스가 불가능합니다.
                <br><br>
                <strong>-> 업종 별로 검색 안되나요? 지도가 나오면 좋겠어요 </strong>: 시청에서 배포하는 데이터가 업종별로 정리가 되어 있지 않은 경우가 많아 업종별 검색은 어렵습니다.
                총 가맹점 데이터는 약 20만건으로, 저 혼자서 직접 20만건을 일일이 분류할 수는 없는 점 양해 부탁드립니다. 이와 마찬가지 맥락으로, 지도에서의 검색 또한 힘듭니다.
                <br><br>
                3. 이 서비스는 공익을 위해 개발되었으며, 수익을 절대 창출하지 않습니다. 오히려 개인 돈으로 서버를 운영하고 있습니다.

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control" id="message-text"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" onclick="send_message()">의견 보내기!</button>
            </div>
        </div>
    </div>
</div>
<!-- Bug Report Modal End -->

<!-- Update History Modal -->
<div class="modal fade" id="update-history" tabindex="-1" role="dialog" aria-labelledby="update-history-label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">업데이트 내역</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style='font-size:80%'>
                <div class="alert alert-success" role="alert">
                    {% for record in updates %}
                        <span>
                        {{ record['date'] }}
                        {{ record['version'] }} : {{ record['content'] }}
                        </span>
                        <br>
                    {% endfor %}
                </div>
                <hr>
                <div style="margin-bottom: 10px">
                    가맹점 데이터 출처 :
                    <a href="http://www.suwon.go.kr/web/board/BD_board.view.do?bbsCd=1042&seq=20190328093359472">
                        수원
                    </a>
                    <a href="https://blog.naver.com/PostView.nhn?blogId=govlrodtnr&logNo=221509466754&categoryNo=0&parentCategoryNo=0&viewDate=&currentPage=1&postListTopCurrentPage=1&from=postView">
                        용인
                    </a>
                    <a href="http://www.goyang.go.kr/www/user/bbs/BD_selectBbs.do?q_bbsCode=1030&q_bbscttSn=20190509201744955&q_currPage=1&q_pClCode=">
                        고양
                    </a>
                    <a href="https://www.bucheon.go.kr/site/program/board/basicboard/view?menuid=148006004013002&pagesize=10&boardtypeid=27296&encid=azNQVX8c1T7sCZF9cXznGg==">
                        부천
                    </a>
                    <a href="https://www.gm.go.kr/pt/user/bbs/BD_selectBbs.do?q_bbsCode=2435&q_bbscttSn=20190411093853764&q_clCode=&q_searchKeyTy=&q_searchVal=&q_rowPerPage=&q_currPage=1&q_sortName=&q_sortOrder=&">
                        광명
                    </a>
                    <a href="https://www.iansan.net/department/regionalEcoDivision/Reference.jsp?menuId=01070071&id=454&mode=S&currentPage=1&articleId=1167097">
                        안산
                    </a>
                    <a href="https://www.pyeongtaek.go.kr/pyeongtaek/giftCardFranchise/list.do?mId=0901030000">
                        평택
                    </a>
                    <a href="http://www.anyang.go.kr/anyang/m09/m09_08/m09_08_02.jsp;jsessionid=zbk1wsjxZYP6Xqynye9aeQeBy5PF8xmo71OMiiVu5j3y6zLVU0btcZH73w7a3LkR.clanyang3_servlet_anyang2014">
                        안양
                    </a>
                    <a href="http://www.hscity.go.kr/www/user/bbs/BD_selectBbs.do?q_bbsCode=1019&q_bbscttSn=20190409145927823">
                        화성
                    </a>
                    <a href="https://www.yangju.go.kr/www/selectBbsNttView.do?key=2644&bbsNo=329&nttNo=110959&searchCtgry=&searchCnd=all&searchKrwd=&pageIndex=1&integrDeptCode=">
                        양주
                    </a>
                    <a href="https://www.ui4u.go.kr/depart/bbs/view.do?mId=0408020000&bIdx=184688&ptIdx=1665#">
                        의정부
                    </a>
                    <a href="https://www.ddc.go.kr/ddc/selectBbsNttView.do?key=1590&bbsNo=145&nttNo=93992&searchCtgry=&searchCnd=all&searchKrwd=&pageIndex=1&integrDeptCode=">
                        동두천
                    </a>
                    <a href="http://www.seongnam.go.kr/prgm/slove/sloveAgentList.do">
                        성남
                    </a>
                    <a href="https://www.gjcity.go.kr/portal/bbs/view.do?bIdx=280334&ptIdx=1&mId=0201010000">
                        광주
                    </a>
                    <a href="http://www.guri.go.kr/brd/board/1026/L/CATEGORY/2525/menu/1669?brdCodeField=CATEGORY&brdCodeValue=2525&bbIdx=100868&brdType=R">
                        구리
                    </a>
                    <a href="http://www.yeoju.go.kr/brd/board/4419/L/menu/4420?brdType=R&thisPage=1&bbIdx=155428&searchField=&searchText=">
                        여주
                    </a>
                    <a href="http://www.uiwang.go.kr/UWKORECO0804/6948972/?curPage=1">
                        의왕
                    </a>
                    <a href="https://www.icheon.go.kr/site/ic/sub.do?key=9257">
                        이천
                    </a>
                    <a href="http://www.hanam.go.kr/www/selectBbsNttView.do?key=3782&bbsNo=964&nttNo=100880&searchCtgry=&searchCnd=all&searchKrwd=&pageIndex=1&integrDeptCode=">
                        하남
                    </a>
                    <a href="http://www.pocheon.go.kr/www/selectBbsNttView.do?bbsNo=950&nttNo=220955&key=10428&pageUnit=10&pageIndex=1">
                        포천
                    </a>
                </div>
                <div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">확인</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Update History Modal End -->